# Ignore database file
db.sqlite3

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
myenv/

# Ignore VS Code settings
.vscode/

# Ignore screencoins app files
screencoins/__pycache__/

# Ignore screener app files
screener/__pycache__/
ta-lib-0.4.0-src.tar.gz
ta-lib/

screener/data/futures_markets.json
screener/data/matching_futures_markets.json
screener/data/spot_markets.json